{% load crispy_forms_tags %}
<div hx-target="this" hx-swap="outerHTML">
    <div class="row">
        <div class="col col-12 col-sm-6">
            <p class="card-text"><span class="text-muted">Title:</span> {{ project.title }}</p>
            <p class="card-text"><span class="text-muted">Description:</span> {{ project.description }}</p>
            <button hx-get="{% url 'project_edit' project.pk %}" class="btn btn-info btn-sm mb-3 mb-sm-0 px-3">
                Edit 
            </button>   
        </div>
        <div class="col col-12 col-sm-6">
            <p class="card-text"><span class="text-muted">Created by:</span> {{ project.created_by }}</p>
            <p class="card-text"><span class="text-muted">Created at:</span> {{ project.created_at }}</p>
            <p class="card-text"><span class="text-muted">Last update:</span> {{ project.updated_at }}</p>
        </div>
    </div>
</div>

