<div class="container mt-5">
    <h3>Details for project: <b>{{project.title}}</b></h3>
    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Created by</th>
            <th>Created at</th>
            <th>Last update</th>
        </tr>
        <tr>
            <td>{{ project.title }}</td>
            <td>{{ project.description }}</td>
            <td>{{ project.created_by }}</td>
            <td>{{ project.created_at }}</td>
            <td>{{ project.updated_at }}</td>
        </tr>
    </table>    
    <a href="{% url 'project_edit' project.pk %}">Edit project</a><br>
    <a href="{% url 'project_delete' project.pk %}">Delete project</a><br>
    <a href="{% url 'add_ticket_to_project' project.pk %}">Add ticket to project</a>
    <br><br>
    <h2>Tickets for this project</h2>
    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Submitter</th>
            <th>Created at</th>
            <th>Last update</th>
            <th>Developer</th>
            <th>More Details</th>
        </tr>
        {% for ticket in project.tickets.all %}
            <tr>
                <td>{{ ticket.title }}<br></td>
                <td>{{ ticket.description }}<br></td>
                <td>{{ ticket.submitter }}<br></td>
                <td>{{ ticket.created_at }}<br></td>
                <td>{{ ticket.updated_at }}<br></td>
                <td>{{ ticket.developer }}<br></td>
                <td><a href="{{ ticket.get_absolute_url }} ">Details</a>
                </td>
            </tr>
        {% endfor %}
    </table>
  <h2>Enrolled Users</h2> 
        {% for user in project.users.all %}
            {{ user.username }}<br>
        {% endfor %}


</div>
