[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.1.8"
psycopg2-binary = "==2.8.5"
django-debug-toolbar = "==2.2.1"
django-crispy-forms = "*"
pylint = "*"
gunicorn = "==20.0.4"
autopep8 = "*"
factory-boy = "*"
django-extensions = "*"

[dev-packages]
pycodestyle = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
