{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Bugtracker{% endblock title%} | BugTracker</title>
        
        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>

    <body>
        <h3>Header</h3>
        <div>
            {% if user.is_authenticated %}
                Hi {{ user.username }}!. Your email is {{ user.email }}. Your role is {{ user.get_role_display }}. <br>

                <a href="{% url 'dashboard' %}">Dashboard</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'logout' %}">Log Out</a>
                <a href="{% url 'profile' %}">Profile</a>

            {% else %}
                <p>You are not logged in</p>
                <a href="{% url 'login' %}">Log In</a>
                <a href="{% url 'signup' %}">Sign Up</a>
            {% endif %}
        </div>
        <ul>
         <li><a href="{% url 'admin:index' %}">Admin Area</a></li>
         <li><a href="{% url 'project_list' %}">My projects</a></li>
         <li><a href="{% url 'ticket_list' %}">My tickets</a></li>
         <li><a href="{% url 'user_list' %}">Personel</a></li>
        </ul>
        
        <h2>Notifications</h2>
        <table>
            <tr>
                <th>sender - not correct</th>
                <th>recipient</th>
                <th>created_at</th>
                <th>type</th>
                <th>type display</th>
                <th>unseen</th>
                <th>text</th>
                <th>link</th>
            </tr>
            
            {% for ntf in notifications %}
            <tr>
                <td>{{ ntf.sender }}</td>
                <td>{{ ntf.recipient }}</td>
                <td>{{ ntf.created_at }}</td>
                <td>{{ ntf.type }}</td>
                <td>{{ ntf.get_type_display }}</td>
                <td>{{ ntf.unseen }}</td>
                
                {% if ntf.type == 1 %} 
                    <!-- role change -->
                    <td>{{ ntf.get_new_role_display }}</td>
                    <td><a href="{% url 'profile' %}">Profile</a></td>

                {% elif ntf.type == 2 %}
                    <!-- ticket assignment-->
                    <td> {{ ntf.ticket.title }} </td>
                    <td><a href="{% url 'ticket_detail' ntf.ticket.pk %}">Ticket</a></td>
                
                {% elif ntf.type == 3 %}
                    <!-- ticket un-assignment-->
                    <td> {{ ntf.ticket.title }} </td>
                    <td><a href="{% url 'ticket_detail' ntf.ticket.pk %}">Ticket</a></td>

                {% elif ntf.type == 4 %}
                    <!-- project enrollment-->
                    <td> {{ ntf.project.title }} </td>
                    <td><a href="{% url 'project_detail' ntf.project.pk %}">Project</a></td>

                
                {% elif ntf.type == 5 %}
                     <!-- project dis-enrollment-->
                     <td> {{ ntf.project.title }} </td>
                     <td><a href="{% url 'project_detail' ntf.project.pk %}">Project</a></td>

                {% elif ntf.type == 6 %}
                    <!-- New ticket comment -->
                    <td> {{ ntf.ticket.title }} </td>
                    <td><a href="{% url 'ticket_detail' ntf.ticket.pk %}">Ticket</a></td>

                {% endif %}
            </tr>
            {% endfor %}
        </table>
        
        <div>
            <!-- Potential messages -->
            {% if messages %}
                {% for message in messages %}
                    {% if 'success' in message.tags %}
                        <div class="bg-green-200 text-green-800 px-4 py-2 mb-2">
                            {{message}}
                        </div>
                    {% else %}
                        <div class="bg-red-200 text-red-800 px-4 py-2 mb-2">
                            {{message}}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}

            <!-- Page Content-->
            {% block content %}

            {% endblock content %}
        </div>

        <!-- JavaScript -->
        <script src="{% static 'js/base.js' %}"></script>
    </body>

</html>