{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Bugtracker{% endblock title%} | BugTracker</title>
        
        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>

    <body>
        <h3>Header</h3>
        <div>
            {% if user.is_authenticated %}
                Hi {{ user.username }}!. Your email is {{ user.email }}. Your role is {{ user.get_role_display }}. <br>

                <a href="{% url 'dashboard' %}">Dashboard</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'logout' %}">Log Out</a>
                <a href="{% url 'profile' %}">Profile</a>

            {% else %}
                <p>You are not logged in</p>
                <a href="{% url 'login' %}">Log In</a>
                <a href="{% url 'signup' %}">Sign Up</a>
            {% endif %}
        </div>
        <ul>
         <li><a href="{% url 'admin:index' %}">Admin Area</a></li>
         <li><a href="{% url 'project_list' %}">My projects</a></li>
         <li><a href="{% url 'ticket_list' %}">My tickets</a></li>
         <li><a href="{% url 'user_list' %}">Personel</a></li>
        </ul>
        <div>
            <!-- Potential messages -->
            {% if messages %}
                {% for message in messages %}
                    {% if 'success' in message.tags %}
                        <div class="bg-green-200 text-green-800 px-4 py-2 mb-2">
                            {{message}}
                        </div>
                    {% else %}
                        <div class="bg-red-200 text-red-800 px-4 py-2 mb-2">
                            {{message}}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}

            <!-- Page Content-->
            {% block content %}

            {% endblock content %}
        </div>

        <!-- JavaScript -->
        <script src="{% static 'js/base.js' %}"></script>
    </body>

</html>