{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Bugtracker{% endblock title%} </title>
        
        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>

    <body>
        <h3>Header</h3>
        <div>
            {% if user.is_authenticated %}
                Hi {{ user.username }}! Your email is {{ user.email }}.
                <a href="{% url 'password_change' %}">Change password</a>

                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'logout' %}">Log Out</a>
            {% else %}
                <p>You are not logged in</p>
                <a href="{% url 'login' %}">Log In</a>
                <a href="{% url 'signup' %}">Sign Up</a>
            {% endif %}
        </div>
        <ul>
         <li><a href="{% url 'home' %}">Home Page</a> </li>
         <li><a href="{% url 'admin:index' %}">Admin</a></li>
         <li><a href="{% url 'project_list' %}">My projects</a></li>
         <li><a href="{% url 'ticket_list' %}">My tickets</a></li>
        </ul>
        <div>
            {% block content %}

            {% endblock content %}
        </div>

        <!-- JavaScript -->
        <script src="{% static 'js/base.js' %}"></script>
    </body>

</html>