{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bug-tracker-django</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    
    {% if user.is_authenticated %}
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/114f0c3f98.js" crossorigin="anonymous"></script>
        
    <!-- Sidebar CSS -->
    <style>
                
            body {
                overflow-x: hidden;
            }

            #body-row {
                margin-left: 0;
                margin-right: 0;
            }

            #sidebar-container {
                min-height: 100vh;
                background-color: white;
                padding: 0;
            }


            /* Sidebar sizes when expanded and expanded */

            .sidebar-expanded {
                min-width: 238px;
            }

            .sidebar-collapsed {
                width: 60px;
            }


            /* Menu item*/

            #sidebar-container .list-group a {
                height: 50px;
                color: white;
            }


            /* Submenu item*/

            #sidebar-container .list-group .sidebar-submenu a {
                height: 45px;
                padding-left: 30px;
            }

            .sidebar-submenu {
                font-size: 0.9rem;
            }


            /* Separators */

            .sidebar-separator-title {
                background-color: #333;
                height: 35px;
            }

            .sidebar-separator {
                background-color: #333;
                height: 25px;
            }

            .logo-separator {
                background-color: #333;
                height: 60px;
            }


            /* Closed submenu icon */

            #sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
                content: " \f0d7";
                font-family: FontAwesome;
                display: inline;
                text-align: right;
                padding-left: 10px;
            }


            /* Opened submenu icon */

            #sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
                content: " \f0da";
                font-family: FontAwesome;
                display: inline;
                text-align: right;
                padding-left: 10px;
            }
                
    </style>
   

    <!-- JS chart library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
    {% endif %}

</head>

<body>

    <!-- NavBar -->
    <nav class="navbar navbar-expand navbar-dark bg-secondary sticky-top" id="topnav">
        <div class="container-fluid d-flex flex-column flex-sm-row">
            <a class="navbar-brand kkk" href="#">
                    Bug Tracker
            </a> 
            {% if user.is_authenticated %}
            <div class="container-fluid d-flex justify-content-between">
                <div class="navbar-nav"></div>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarAddDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-plus"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarAddDropdownMenuLink">
                            <a class="dropdown-item" href="#" hx-get="{% url 'project_create' %}" hx-target="#body-col">New Project</a>
                            <a class="dropdown-item" href="#" hx-get="{% url 'ticket_create' %}" hx-target="#body-col">New Ticket</a>
                            <div>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" hx-get="{% url 'user_list' %}" hx-target="#body-col">Manage User Roles</a>
                                <a class="dropdown-item" href="#" hx-get="{% url 'manage-enrollments' %}" hx-target="#body-col">Manage Project Users</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'admin:index' %}">Admin area</a>
                            </div>
                        </div>
                    </li>
                    <div class="nav-item dropdown hide-when-small">
                        <a class="nav-link dropdown-toggle" onclick="set_notifications_seen()" href="#"
                            id="navbarNotificationsDropdownMenuLink" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell"></i> {% if num_unseen_notifications > 0 %}
                            <span class="badge bg-danger">{{ num_unseen_notifications }}</span> {% endif %}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right"
                            style="max-height:80vh;overflow-y:auto; overflow-x:hidden;"
                            aria-labelledby="navbarNotificationsDropdownMenuLink">

                            {% for ntf in notifications %} 
                                {% if not forloop.first %}
                                <li>
                                    <div class="dropdown-divider"></div>
                                </li>
                                {% endif %} 
                                {% if ntf.type == 1 %}
                                <!-- role change -->
                                <a class="dropdown-item" href="#" hx-get="{% url 'profile' %}" hx-target="#body-col">
                                    <b>{{ ntf.sender }}</b> <br class="d-sm-none"> updated <br class="d-sm-none">your role
                                    to
                                    <br class="d-md-none">
                                    <b>{{ ntf.get_new_role_display }}</b><br>
                                    <small class="text-muted">{{ ntf.time_ago }}</small>
                                    </a>

                                {% elif ntf.type == 2 %}
                                <!-- ticket assignment-->
                                <a class="dropdown-item" href="#" hx-get="{% url 'ticket_detail' ntf.ticket.pk %}" hx-target="#body-col">
                                    <b>{{ ntf.sender }}</b> <br class="d-sm-none"> assigned you <br class="d-md-none">to the
                                    ticket
                                    <br class="d-sm-none">
                                    <b>{{ ntf.ticket.title|truncatechars:15 }}</b><br>
                                    <small class="text-muted">{{ ntf.time_ago }}</small>
                                    </a>

                                {% elif ntf.type == 3 %}
                                <!-- ticket un-assignment-->
                                <a class="dropdown-item" style="display:block"
                                    href="#" hx-get="{% url 'ticket_detail' ntf.ticket.pk %}" hx-target="#body-col">
                                    <b>{{ ntf.sender }}</b> <br class="d-sm-none"> un-assigned <br class="d-md-none">you
                                    from the ticket
                                    <br class="d-sm-none">
                                    <b>{{ ntf.ticket.title|truncatechars:15 }}</b><br>
                                    <small class="text-muted">{{ ntf.time_ago }}</small>
                                </a>

                                {% elif ntf.type == 4 %}
                                <!-- project enrollment-->
                                <a class="dropdown-item" href="#" hx-get="{% url 'project_detail' ntf.project.pk %}" hx-target="#body-col">
                                    <b>{{ ntf.sender }}</b> <br class="d-sm-none"> enrolled <br class="d-md-none">you in the
                                    project
                                    <br class="d-sm-none"><b>{{ ntf.project.title|truncatechars:15 }}</b><br>
                                    <small class="text-muted">{{ ntf.time_ago }}</small>
                                    </a>

                                {% elif ntf.type == 5 %}
                                <!-- project dis-enrollment-->
                                <a class="dropdown-item" href="#" hx-get="{% url 'project_detail' ntf.project.pk %}" hx-target="#body-col">
                                    <b>{{ ntf.sender }}</b> <br class="d-sm-none"> dis-enrolled <br class="d-md-none">you
                                    from the project <br class="d-sm-none">
                                    <b>{{ ntf.project.title|truncatechars:15 }}</b><br>
                                    <small class="text-muted">{{ ntf.time_ago }}</small>
                                </a>

                                {% elif ntf.type == 6 %}
                                <!-- new ticket comment -->
                                <a class="dropdown-item" href="#" hx-get="{% url 'ticket_detail' ntf.ticket.pk %}" hx-target="#body-col">
                                    <b>{{ ntf.sender }}</b> <br class="d-sm-none"> added a new <br class="d-md-none">comment
                                    to your
                                    <br class="d-sm-none">ticket
                                    <b>{{ ntf.ticket.title|truncatechars:15 }}</b><br>
                                    <small class="text-muted">{{ ntf.time_ago }}</small>
                                </a>
                                {% endif %} 
                            {% endfor %}
                        </div>
                    </div>
                    <div class="nav-item dropdown mr-sm-4">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarUserDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu dropdown-menu-right"
                            aria-labelledby="navbarUserDropdownMenuLink">
                            <a class="dropdown-item" href="#" hx-get="{% url 'profile' %}" hx-target="#body-col">Signed in as
                                <b>{{ user.username }}</b>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" hx-get="{% url 'charts' %}" hx-target="#body-col" hx-trigger="click[reloadDashboard()]">Dashboard</a>
                            <a class="dropdown-item" href="#" hx-get="{% url 'project_list' %}" hx-target="#body-col">Your projects</a>
                            <a class="dropdown-item" href="#" hx-get="{% url 'ticket_list' %}?order=updated_at" hx-target="#body-col">Your tickets</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">Sign out</a>
                        </div>
                    </div>
                </ul>
            </div>
            {% endif %}
        </div>
    </nav>
    <!-- NavBar END -->

    <!-- Row -->
    <div class="d-flex" id="body-row"> 
        {% if user.is_authenticated %}
        <!-- Sidebar -->
        <div id="sidebar-container" class="sidebar-expanded d-none d-xl-block">
            <!-- Bootstrap List Group -->
            <ul class="list-group sticky-top sticky-offset" style="top:100px; border-radius:0"> <!--style="top:56px;border-radius: 0;"> -->
                <!-- Separator with title -->
                <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                    <small>MAIN MENU</small>
                </li>
                <!-- /END Separator -->

                <a id="dashboard-link" href="#" hx-get="{% url 'charts' %}" hx-target="#body-col" hx-trigger="click[reloadDashboard()]" class="bg-dark list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-home fa-fw mr-3"></span>
                        <span class="menu-collapsed">Dashboard</span>
                    </div>
                </a>
    
                <a href="#" hx-get="{% url 'project_list' %}" hx-target="#body-col" class="bg-dark list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fas fa-industry fa-fw mr-3"></span>
                        <span class="menu-collapsed">My Projects</span>
                    </div>
                </a>

                <a href="#" hx-get="{% url 'ticket_list' %}?order=updated_at" hx-target="#body-col" class="bg-dark list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fas fa-ticket-alt fa-fw mr-3"></span>
                        <span class="menu-collapsed">My Tickets</span>
                    </div>
                </a>

                <!-- Separator with title -->
                <li
                    class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                    <small>MANAGE</small>
                </li>
                <!-- /END Separator -->

                <a href="#" hx-get="{% url 'manage-enrollments' %}" hx-target="#body-col" class="bg-dark list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fas fa-user-plus fa-fw mr-3"></span>
                        <span class="menu-collapsed">Manage Project Users</span>
                    </div>
                </a>

                <a href="#" hx-get="{% url 'user_list' %}" hx-target="#body-col" class="bg-dark list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fas fa-user-cog fa-fw mr-3"></span>
                        <span class="menu-collapsed">Manage User Roles</span>
                    </div>
                </a>
               
               {% if user.is_admin %}
                <!-- Separator with title -->
                <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                    <small>ADMIN</small>
                </li>
                <!-- /END Separator -->
                <a href="/admin" class="bg-dark list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-cog fa-fw mr-3"></span>
                        <span class="menu-collapsed" style="text-color:red-100f">Admin Area</span>
                    </div>
                </a>
                {% endif %}

                <!-- Separator without title -->
                <li class="list-group-item sidebar-separator menu-collapsed"></li>
                <!-- /END Separator -->
               
                <a href="#" data-toggle="sidebar-colapse"
                    class="bg-dark list-group-item list-group-item-action d-flex align-items-center">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span id="collapse-icon" class="fa fa-2x mr-3"></span>
                        <span id="collapse-text" class="menu-collapsed">Collapse</span>
                    </div>
                </a>
            </ul>
            <!-- List Group END-->
        </div>
        <!-- sidebar-container END -->
        {% endif %}

        <!-- Main -->
        <div class="col" id="body-col">
        {% block content %}{% endblock content%}
        </div>
    </div><!-- body-row END -->

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    
    <!-- Htmx JS -->
    <script src="https://unpkg.com/htmx.org@1.1.0"></script>
    <script>
        // Crf tokens for Htmx 
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
    
        function set_notifications_seen() {
            $.ajax({
                type: 'POST',
                url: "{% url 'notifications_seen' %}",
                csrfmiddlewaretoken: '{{ csrf_token }}',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                dataType: 'json',
            });
        }
    </script>

    <!-- JS for sidebar --> 
     <script>
        /* When the user scrolls down, hide the navbar. When the user scrolls up, show the navbar */
        var prevScrollpos = window.pageYOffset;
        window.onscroll = function() {
            console.log("scroll")
            var currentScrollPos = window.pageYOffset;
            if (prevScrollpos > currentScrollPos) {
                document.getElementById("topnav").style.top = "0";
            } else {
                document.getElementById("topnav").style.top = "-56px";
            }
            prevScrollpos = currentScrollPos;
        }

        /*  **************  SideBar ************************ */

        // Hide submenus
        $('#body-row .collapse').collapse('hide');

        // Collapse/Expand icon
        $('#collapse-icon').addClass('fa-angle-double-left');

        // Collapse click
        $('[data-toggle=sidebar-colapse]').click(function() {
            SidebarCollapse();
        });

        function SidebarCollapse() {
            $('.menu-collapsed').toggleClass('d-none');
            $('.sidebar-submenu').toggleClass('d-none');
            $('.submenu-icon').toggleClass('d-none');
            $('#sidebar-container').toggleClass('sidebar-expanded sidebar-collapsed');

            // Treating d-flex/d-none on separators with title
            var SeparatorTitle = $('.sidebar-separator-title');
            if (SeparatorTitle.hasClass('d-flex')) {
                SeparatorTitle.removeClass('d-flex');
            } else {
                SeparatorTitle.addClass('d-flex');
            }

            // Collapse/Expand icon
            $('#collapse-icon').toggleClass('fa-angle-double-left fa-angle-double-right');
        }


        function reloadDashboard() {
            e = document.getElementById('body-col')
            if (e.innerHTML.indexOf("Tickets by Status") == -1) {
                // dashboard is currently not shown - so reload it
                return true
            }
            // dashboard is already shown - so don't reload it (it's tricky to get canvas sizes correct on reload)
            return false
        }
    
    </script>

    <script>
        function closeModal() {
            var container = document.getElementById("modals-here")
            var backdrop = document.getElementById("modal-backdrop")
            var modal = document.getElementById("modal")

            modal.classList.remove("show")
            backdrop.classList.remove("show")

            setTimeout(function() {
                container.removeChild(backdrop)
                container.removeChild(modal)
            }, 200)
        }
    </script>

    <!-- Page theme JS -->
    {% block javascript %} {% endblock javascript %}

</body>

</html>