{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock title%}

{% block content %}
    <div class="container-fluid px-3 px-sm-5 py-5" style="max-width:1100px">
        <div class="row">     
            <div class="col-12 col-md-6 mb-5">
                <canvas id="status_chart"></canvas>
            </div>
            <div class="col-12 col-md-6 mb-5">
                <canvas id="priority_chart"></canvas>
            </div>
            <div class="col-12 col-md-6 mb-5">
                <canvas id="type_chart"></canvas>
            </div>
            <div class="col-12 col-md-6 mb-5">
                <canvas id="top_busy_users_chart"></canvas>
            </div>
        </div>
    </div>
{% endblock content %}


{% block javascript %}

    <!-- JS chart library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>

    <script>

        /* Ticket Status Chart */
        var ctx = document.getElementById('status_chart').getContext('2d');
        var statusChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Open', 'In Progress', 'Closed', 'Info Required'],
        
                datasets: [{
                    label: '# of Tickets',

                    data: [
                        {{ status.open }},
                        {{ status.in_progress }},
                        {{ status.closed }},
                        {{ status.info_required }}
                    ],

                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                legend: {
                    display: false
                },
                title: {
                    display: true,
                    text: ['Tickets by status']
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

         /* Ticket Priority Chart */
         var ctx = document.getElementById('priority_chart').getContext('2d');

         var priorityChart = new Chart(ctx, {
         type: 'bar',
         data: {
            labels: ['Low', 'Medium', 'High', 'Urgent'],

            datasets: [{
            label: '# of Tickets',
            data: [
                {{priority.low}},
                {{priority.medium}},
                {{priority.high}},
                {{priority.urgent}},
            ],
            backgroundColor: [
                'rgba(255, 148, 120, 0.8)',
                'rgba(242, 38, 19, 0.6)',
                'rgba(217, 30, 24, 0.8)',
                'rgba(150, 40, 27, 0.8)',
            ],
            borderColor: [
              'rgba(255, 148, 120, 1)',
              'rgba(242, 38, 19, 1)',
              'rgba(217, 30, 24, 1)',
              'rgba(150, 40, 27, 1)',
            ],

            borderWidth: 1
            }]
         },
         options: {
            title: {
                display: true,
                text: 'Tickets by Priority'
                },
            legend: {
                display: false
            },

            scales: {
                yAxes: [{
                    ticks: {
                    beginAtZero: true
                    }
                }]
            }
         }
        });
            
        /* Ticket Type Chart */
        var ctx = document.getElementById('type_chart').getContext('2d');
        var typeChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Feature request', 'Bug/Error', 'Other'],
                datasets: [{
                    label: '# of Tickets',
                    data: [
                        {{ type.feature_request }},
                        {{ type.bug }},
                        {{ type.other }},
                    ],
                backgroundColor: [
                    'rgba(54, 162, 235, 0.6)',
                    'rgba(37, 116, 169, 0.6)',
                    'rgba(31, 58, 147, 0.6)',
                ],
                borderColor: [
                    'rgba(54, 162, 235, 1)',
                    'rgba(37, 116, 169, 1)',
                    'rgba(31, 58, 147, 1)',
                ],
                borderWidth: 1
                }]
            },
            options: {
            title: {
                display: true,
                text: 'Tickets by Type'
            },
            legend: {
                display: false
            },
            scales: {
                yAxes: [{
                    ticks: {
                    beginAtZero: true
                    }
                }]
            },
            }
        });

        /*Busy Users Chart */
        var ctx = document.getElementById('top_busy_users_chart').getContext('2d');
        var Chart = new Chart(ctx, {
            type: 'doughnut',
            data: {
            labels: {{busy_users_labels|safe}},
            datasets: [{
                label: '# Tickets',
                data: {{busy_users_data|safe}},
                backgroundColor: [
                    '#e8ffe8',
                    '#b3ffb3',
                    '#66ff66',
                    '#1aff1a',
                    '#00cc00'
                    ],
                borderWidth: 1
            }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Most Busy Users (# Tickets in Progress)'
                },
                legend: {
                    display: true
                }
            },
            scales: {
                xAxes: [{
                    stacked: true,
                    beginAtZero: true,
                    scaleLabel: {
                        labelString: 'Month'
                    },
                ticks: {
                    stepSize: 1,
                    min: 0,
                    autoSkip: false
                }
                }]
            }
        });
    </script>

{% endblock javascript %}
