{% extends '_base.html' %}
{% block title %}Bug_Tracker Demo Login{% endblock title%}

{% block content %}

   <h1>Demo Login</h1>

   <h3>Demo Admin</h3>
   <form action="{% url 'login' %}" method="POST"> {% csrf_token %}
       <input type="hidden" name="username" value="demo_admin">
       <input type="hidden" name="password" value="Stjerne1">
       <input type="submit" value="Sign In">
   </form>
   <h3>Demo PM</h3>
   <form action="{% url 'login' %}" method="POST"> {% csrf_token %}
       <input type="hidden" name="username" value="demo_pm">
       <input type="hidden" name="password" value="Stjerne1">
       <input type="submit" value="Sign In">
   </form>
   <h3>Demo Developer</h3>
   <form action="{% url 'login' %}" method="POST"> {% csrf_token %} 
       <input type="hidden" name="username" value="demo_dev">
       <input type="hidden" name="password" value="Stjerne1">
       <input type="submit" value="Sign In">
   </form>

   <p>Already have an account?</p>
   <a href="{% url 'login' %}">Login with regular account</a>

{% endblock content %}
