<div class="container mt-5">   
    <h3>Delete Ticket Comment for {{ comment.ticket }}</h3>
    <p>Are you sure you want to delete "{{ comment.message }}"? </p>
    <table class="mb-5">
        <tr>
            <th>Commenter</th>
            <th>Message</th>
            <th>Created</th>
        </tr>
        <tr>
            <td>{{ comment.commenter }} </td>
            <td>{{ comment.message }} </td>
            <td>{{ comment.created_at }} </td>
        </tr>
    </table>

    <button class="btn btn-danger" type="submit">Delete</button>
    <button hx-get="{{ comment.ticket.get_absolute_url }}" hx-target="#body-col" class="btn btn-primary">Cancel</button>   
</div>
