{% load crispy_forms_tags %}

<div class="container mt-5">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %} 
    <h3>Details for ticket: <b>{{ticket.title}}</b></h3>
    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Project</th>
            <th>Submitter</th>
            <th>Developer</th>
            <th>Created at</th>
            <th>Last update</th>
            <th>Status</th>
            <th>Type</th>
            <th>Priority</th>
        </tr>
        <tr>
            <td>{{ ticket.title }}</td>
            <td>{{ ticket.description }}</td>
            <td>{{ ticket.project }}</td>
            <td>{{ ticket.submitter }}</td>
            <td>{{ ticket.developer }}</td>
            <td>{{ ticket.created_at }}</td>
            <td>{{ ticket.updated_at }}</td>
            <td>{{ ticket.get_status_display }}</td>
            <td>{{ ticket.get_type_display }}</td>
            <td>{{ ticket.get_priority_display }}</td>
        </tr>
    </table>

    <a href="#" hx-get="{% url 'ticket_edit' ticket.pk %}" hx-target="#body-col">Edit ticket</a>
    <a href="#" hx-get="{% url 'ticket_delete' ticket.pk %}" hx-target="#body-col">Delete ticket</a>

    <!--
    <h3 class="mt-5">Ticket Comments</h3>

    <form hx-post="{% url "ticket_create" %}" hx-target="#body-col">
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Add comment</button>
    </form>
    <br>

    <table class="mb-5">
        <tr>
            <th>Commenter</th>
            <th>Message</th>
            <th>Created</th>
        </tr>
        {% for comment in comment_list %}
            <tr>
                <td>{{ comment.commenter }} </td>
                <td>{{ comment.message }} </td>
                <td>{{ comment.created_at }} </td>
                <td><a href="#" hx-get="{% url 'ticket_comment_edit' comment.pk %}" hx-target="#body-col">Edit</a></td>
                <td><a href="#" hx-get="{% url 'ticket_comment_delete' comment.pk %}" hx-target="#body-col">Delete</a></td>
            </tr>
        {% endfor %}
    </table>

    <h3>Ticket History</h3>
    <table>
        <tr>
            <th>Property</th>
            <th>Old value</th>
            <th>New value</th>
            <th>Changed by</th>
            <th>Date changed</th>

        </tr>
        {% for event in event_list %}
        <tr>
            <td>{{ event.get_property_changed_display }} </td>
            <td>{{ event.old_value }} </td>
            <td>{{ event.new_value }} </td>
            <td>{{ event.user }} </td>
            <td>{{ event.created_at }} </td>

        </tr>
        {% endfor %}
    </table>
    -->
</div>